
header {
  width: 100%;
  height: 60px;
  padding left: 20px;
  padding-bottom: 40px;
  color: white;
  background-color: black;
  }

  footer {
    width: 100%;
    height: 60px;
    padding: 20px;
    color: white;
    background-color: black;
    }

div {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  color: blue;
  background-color: #BEBEBE;
}

form {
  position: relative;
  left: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  }

textarea {
  width: 70%;
  height: 200px;
  padding: 10px;
  background-color: #E8E8E8;
  }

  nav {
      display: inline;
      position: absolute;
      background: #FFF;
      z-index: 1000;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      top: 0px;
      right: 120px;
  }

  nav ul {
      list-style: none;
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
  }

  nav ul a {
      display: block;
      text-decoration: none;
      font-weight: 700;
      line-height: 32px;
      padding: 0 15px;
      color: #333;
      font-size: 16px;
  }

  nav ul li {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
  }

  nav ul li.current-menu-item {
      background: #DDD;
  }

  nav ul ul {
      position: absolute;
      top: 100%;
      left: 0;
      background: #F6F6F6;
      border: thin #225AA7 solid;
      padding: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      display: none;
  }

  nav ul ul li {
      float: none;
      min-width: 150px;
  }

  nav ul ul a {
      line-height: 120%;
      padding: 10px 15px;
  }

  nav ul ul ul {
      top: 0;
      left: 100%;
  }

  nav ul li:hover>ul {
      display: block;
  }
