
header {
  width: 100%;
  height: 60px;
  padding left: 20px;
  padding-bottom: 40px;
  color: white;
  background-color: black;
  }

  footer {
    width: 100%;
    height: 60px;
    padding: 20px;
    color: white;
    background-color: black;
    }

div {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  color: blue;
  background-color: #BEBEBE;
}

form {
  position: relative;
  left: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  }

textarea {
  width: 70%;
  height: 200px;
  padding: 10px;
  background-color: #E8E8E8;
  }
